<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Reports" Version="1.0" Description="FNMS Custom Report configuration module">
    <Help>
The Reports (database) module configures FNMS custom reports.
Targets include:
	* ConfigureReportProcedures  Configure FNMS Custom Report procedures
  * ConfigureReports           Create and configure FNMS Custom Reports

    </Help>
  </Identity> 
	
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->

	<Setting
		Name="ReportsFolder"
		Prompt="Enter the Custom Report folder name (default: Crayon"
	  Default="Crayon Diagnostics"		
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->	
	<Target Name="ConfigureReportProcedures" Description="Configure FNMS Custom Report procedures">
		<Step SQLScript="ConfigureReportProcedures.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" />
		<Step SQLScript="ConfigureReportDefinitionExport.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" />
	</Target>

	<Target Name="ConfigureReportExtraProcedures" Description="Configure FNMS Custom Report extra procedures">
		<Step SQLScript="ConfigureReportExtraProcedures.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" />
	</Target>

	<Target Name="ConfigureReports" Description="Create and configure FNMS Custom Reports">
		<Step SQLScript="ConfigureReportCustomisations.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" />
	</Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations register steps with global targets.   
    Other modules may also add steps to these same targets.  
  -->
	<Target Name="ApplyAllCustomisations">
		<Step Target="ConfigureReports" />		
	</Target>
  
</Configuration>
