<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Automation" Version="1.0" Description="Business-As-Usual automations module">
    <Help>
The Automation module implements common FNMS BAU automation tasks.
Targets include:
  * RunEntitlementAutomation      Runs the ComplianceReader to perform a EntitlementAutomation update

    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <Setting
    Name="DefaultDataSource"
    Prompt="Enter a Data Source connection name. (default: SCCM Filtered)"
    Default="SCCM Filtered"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="RunEntitlementAutomation" Description="Run ComplianceReader RunEntitlementAutomation">
    <Step Load="bau.ps1"/>
    <Step Call="RunEntitlementAutomation"/>
  </Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations define targets that are also referenced in other modules.
  --> 
	<Target Name="ApplyAllCustomizations">
	</Target>

	<Target Name="InstallAll">
	</Target>

	<Target Name="ConfigureScheduledTasks">
	</Target>

</Configuration>
