<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2015 Flexera Software -->
<Configuration>
	<ConfigSettings File="fnms.settings"/>

	<Load Script="FlexAdminFunctions.ps1"/>
	<Load Script="FNMSFunctions.ps1"/>

	<Setting
		Name="LogDir"
		Prompt="Enter full path to the directory to contain flexadmin log files (default: C:\LogFiles)"
		Default="C:\LogFiles"
		Validate="ValidateDirExists"
	/>

	<Setting
		Name="XenAppServiceAccount"
		Prompt="Enter qualified name (&lt;DOMAIN>\&lt;logon>) of the service account under which the the XenApp Agent scheduled task will run"
	/>

	<Setting
		Name="XenAppServerAgentDir"
		Prompt="Enter the subdirectory in which the FlexNet Manager Suite Citrix XenApp Server Agent is located (example: XenAppAgent6)"
	/>

	<Setting
		Name="XenAppStagingDBServer"
		Prompt="Enter the Microsoft SQL Server instance name (and port number if necessary) for the database to hold extracted XenApp data (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
	/>

	<Setting
		Name="XenAppStagingDBName"
		Prompt="Enter name for the database to hold extracted XenApp data (default: FNMSXenAppStaging)"
		Default="FNMSXenAppStaging"
	/>

	<Setting
		Name="XenAppStagingDBSQLAccount"
		Prompt="Enter name of the SQL account the XenApp agent uses to accessing the database to hold extracted XenApp data (Leave blank to use integrated authentication to connect to the database)"
		Optional="True"
	/>
	
	<Setting
		Name="XenAppStagingDBSQLAccountPassword"
		Prompt="Enter the password for the SQL account the XenApp agent uses to accessing the database to hold extracted XenApp data"
		Encrypt="true"
	/>
	

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->
	<Target Name="ConfigureXenAppAgentStagingDatabase"
		Description="Configure a staging database to hold data extracted from XenApp"
	>
		<Step Load="XenAppStagingDatabase.ps1"/>

		<Step SQLScript="CreateXenAppStagingDatabase.sql" 
			DBServer="$(XenAppStagingDBServer)" 
			DBName="master" 
			ConfigSettings="XenAppStagingDBName" 
		/>

		<Step SQLScript="ConfigureXenAppStagingDatabaseSecurity.sql" 
			DBServer="$(XenAppStagingDBServer)" 
			DBName="$(XenAppStagingDBName)" 
			ConfigSettings="XenAppStagingDBSQLAccount,XenAppServiceAccount" 
		/>

		<Step Call="ConfigureXenAppAgentStagingTables"/>
	</Target>

	<Target Name="RunXenAppAgent"
		Description="Run the XenApp Agent to extract data from XenApp into the staging database"
	>
		<Step Load="XenAppAgent.ps1"/>
		<Step Call="RunAgent"/>
	</Target>

	<Target Name="ConfigureXenAppAgentScheduledTask"
		Description="Configure a scheduled task to run the XenApp agent regularly"
	>
		<Step ScheduleFlexAdminTarget="RunXenAppAgent"
			TaskName="FlexNet Manager Suite\Run XenApp Server Agent"
			ScheduleOptions="/sc DAILY /st 21:00:00"
			RunAs="$(XenAppServiceAccount)"
		/>
	</Target>

	<Target Name="RequestXenAppAgentParameters"
		Description="Ensure all parameters for running the XenApp Agent are recorded"
	>
		<Step Load="XenAppAgent.ps1"/>
		<Step Call="RequestXenAppAgentParameters"/>
	</Target>

	<Target Name="InstallXenAppAgent"
		Description="Set up the XenApp Agent to run regularly; executes the RequestXenAppAgentParameters and ConfigureXenAppAgentScheduledTask targets"
	>
		<Step Target="RequestXenAppAgentParameters"/>
		<Step Target="ConfigureXenAppAgentScheduledTask"/>
		
		<Step Load="XenAppAgent.ps1"/>
		<Step Call="ConfigureLogDirectoryAccess"/>
	</Target>
</Configuration>
