<?xml version="1.0" encoding="utf-8" ?>

<!-- 
	This module contains targets for installing and configuring
	Flexera Analytics components.

	Copyright (C) 2015-2018 Flexera
-->

<Configuration>
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->

	<Setting
		Name="AnalyticsInstallerDir"
		Prompt="Enter path of the directory containing the Flexera Analytics installer 'analytics-installer-1.2.2-win.exe'"
		Validate="ValidateFileExistsInDir 'analytics-installer-1.2.2-win.exe'"
	/>

	<Setting
		Name="AnalyticsInstallDir"
		Prompt="Enter path of the installation directory for Flexera Analytics (default: C:\Program Files\ibm\cognos\analytics)"
		Default="C:\Program Files\ibm\cognos\analytics"
	/>

	<Setting
		Name="CognosMaxMemoryGB"
		Prompt="Enter maximum memory to allocate to Cognos in GB (default: 8, minimum: 4, suggested value is around 2GB less than the total memory on the server if it is dedicated)"
		Default="8"
		Validate="function ValidateCognosMemory([string]$v) { try { if ([int]::Parse($v) -ge 4) { return $v } } catch { } return $false }; ValidateCognosMemory"
	/>

	<Setting
		Name="WebAppServerMachineKeyValidationKey"
		Prompt="Enter the validationKey value from the &lt;machineKey&gt; element in ...Program Files...\FlexNet Manager Platform\WebUI\web.config file on the web application server"
	/>

	<Setting
		Name="WebAppServerMachineKeyDecryptionKey"
		Prompt="Enter the decryptionKey value from the &lt;machineKey&gt; element in ...Program Files...\FlexNet Manager Platform\WebUI\web.config file on the web application server"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- Cognos installation targets -->
	<Target Name="InstallAnalytics" Description="Install Flexera Analytics components">
		<Step Load="CognosInstall.ps1"/>
		<Step Call="ConfigureIISFeaturesForAnalytics"/>
		<Step Call="InstallAnalytics"/>
	</Target>

	<Target Name="ExecuteAnalyticsPackageImport" Description="Import Flexera Analytics reporting packages (run on the batch server)">
		<Step Load="CognosInstall.ps1"/>
		<Step Call="ExecuteAnalyticsPackageImport"/>
	</Target>

	<Target Name="RunFNMSCognosConfigScript" Description="Run the Flexera Analytics configuration script">
		<Step Load="CognosInstall.ps1"/>
		<Step Call="RunFNMSCognosConfigScript"/>
	</Target>

	<Target Name="UninstallAnalytics" Description="Uninstall Flexera Analytics components">
		<Step Load="CognosInstall.ps1"/>
		<Step Call="UninstallAnalytics"/>
	</Target>


	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->

	<Target Name="InstallAll">
		<Step Target="InstallAnalytics" If="(GetConfigValue 'DoMultiTenantInstall') -eq 'N' -and (GetConfigValue 'InstallAnalytics') -eq 'Y'"/>
		<Step Target="ExecuteAnalyticsPackageImport" If="(GetConfigValue 'DoMultiTenantInstall') -eq 'N' -and (GetConfigValue 'InstallAnalytics') -eq 'Y' -and (GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
		<Step Target="RunFNMSCognosConfigScript" If="(GetConfigValue 'DoMultiTenantInstall') -eq 'N' -and (GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallAnalytics"/>
	</Target>
</Configuration>
