<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="FNMS" Version="1.0" Description="Analytics database configuration module">
    <Help>
The FNMS (database) module configures Analytics databases on FNMS servers.
Targets include:
	* ConfigureFNMSDatabases  Create and configure FlexNet Manager Suite databases

    </Help>
  </Identity> 
	
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->
	<Setting
		Name="FNMSInventoryDBRecoveryModel"
		Prompt="Enter SQL Server recovery model for the FlexNet Manager Suite inventory database (default: Full, alternative value: Simple)"
		Default="Full"
	/>

	<Setting
		Name="FNMSComplianceDBRecoveryModel"
		Prompt="Enter SQL Server recovery model for the FlexNet Manager Suite compliance database (default: Full, alternative value: Simple)"
		Default="Full"
	/>

	<Setting
		Name="FNMSSnapshotDBRecoveryModel"
		Prompt="Enter SQL Server recovery model for the FlexNet Manager Suite snapshot database (default: Simple, alternative value: Full)"
		Default="Simple"
	/>

	<Setting
		Name="FNMSDataWarehouseDBRecoveryModel"
		Prompt="Enter SQL Server recovery model for the FlexNet Manager Suite data warehouse database (default: Full, alternative value: Simple)"
		Default="Full"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigureFNMSDatabases" Description="Create and configure FlexNet Manager Suite databases">
		<!-- Ensure CLR is enabled -->
		<Step SQLScript="EnableCLR.sql" DBServer="$(FNMSDBServer)" DBName="master"/>
		<!-- Creating and configuring the databases -->
		<Step Load="Database.ps1"/>
		<Step Call="CreateInventoryDB"/> <!-- Inventory DB setup must be done before Compliance setup if they are in the same DB (see FNMS-24482) -->
		<Step Call="CreateComplianceDB"/>
		<Step Call="CreateSnapshotDB"/>
		<Step Call="CreateDataWarehouseDB"/>

		<!-- Configure database security -->
		<!--
		<Step Target="ConfigureFNMSAdminsGroup"/>
		<Step SQLScript="ConfigureDatabaseSecurity.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)" ConfigSettings="FNMSAdminsGroup"/>
		<Step SQLScript="ConfigureDatabaseSecurity.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" ConfigSettings="FNMSAdminsGroup"/>
		<Step SQLScript="ConfigureDatabaseSecurity.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSSnapshotDBName)" ConfigSettings="FNMSAdminsGroup"/>
		<Step SQLScript="ConfigureDatabaseSecurity.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSDataWarehouseDBName)" ConfigSettings="FNMSAdminsGroup"/>
		-->
		
		<!-- Configure database recovery models -->
		<Step SQLScript="ConfigureRecoveryModel.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)" ConfigSettings="RecoveryModel=$(FNMSInventoryDBRecoveryModel)"/>
		<Step SQLScript="ConfigureRecoveryModel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" ConfigSettings="RecoveryModel=$(FNMSComplianceDBRecoveryModel)"/>
		<Step SQLScript="ConfigureRecoveryModel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSSnapshotDBName)" ConfigSettings="RecoveryModel=$(FNMSSnapshotDBRecoveryModel)"/>
		<Step SQLScript="ConfigureRecoveryModel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSDataWarehouseDBName)" ConfigSettings="RecoveryModel=$(FNMSDataWarehouseDBRecoveryModel)"/>
		
		<!-- Configure database compatibility levels -->
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)"/>
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSSnapshotDBName)"/>
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSDataWarehouseDBName)"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ConfigureAllDatabases">
		<Step Target="ConfigureFNMSDatabases" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
