<?xml version="1.0" encoding="utf-8"?>
<Configuration Version="3.0" Language="PowerShell">
	<Parameters>
		<Parameter Name="WebServicesURI" DisplayText="Web Services URI" Type="text" IsMandatory="true" />
		<Parameter Name="Username" DisplayText="User Name" Type="text" IsMandatory="true" />
		<Parameter Name="Password" DisplayText="Password" Type="password" IsMandatory="true" />
	</Parameters>

	<InitScripts>
	   <InitScript Name="Logic.ps1" />
	</InitScripts>

	<TestConnection>
		<Source Name="TestConnection" Language="PowerShell" File="Logic.ps1" Method="TestConnection">
			<InputVariable Name="WebServicesURI" Variable="WebServicesURI"/>
			<InputVariable Name="Username" Variable="Username"/>
			<InputVariable Name="Password" Variable="Password"/>
		</Source>
	</TestConnection>	

	<VersionCheck Language="PowerShell" Method="GetVersion">
		<Parameter Name="WebServicesURI" Variable="WebServicesURI"/>
	</VersionCheck>

	<Readers>
		<Reader FileName="Setup.xml" ProcedureName="Computer" />
		<Reader FileName="Package.xml" ProcedureName="Computer" />
		<Reader FileName="User.xml" ProcedureName="Computer" />
		<Reader FileName="InstallerEvidence.xml" ProcedureName="Evidence" />
	</Readers>

</Configuration>