<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!--
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="ReportDefinitionImport" Version="1.0" Description="Report definition import configuration module">
    <Help>
The ReportDefinitionImport module configures SQL proceduren needed to support Report Definition imports
through the DataImportWebPortal

Local Targets include:
	* ConfigureDRIAdapterSQL
		  Configure SQL procedures and Functions used by the Report Definition Import adapter

  * ConfigurePredefinedCustomReports   Configure ComplianceSavedSearch table entries the implement a set of standard report

Parent Targets include:
	* InstallDataImportWebPortalAdapters
		
    </Help>
  </Identity> 

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigureRDIAdapterSQL" Description="Configure SQL procedures and Functions used by the Report Definition Import adapter">
		<Step SQLScript="AdapterProcedures.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
	</Target>

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigurePredefinedCustomReports" Description="Configure ComplianceSavedSearch table entries the implement a set of standard report">
		<Step SQLScript="NBNPredefinedCustomReport.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallDataImportWebPortalAdapters">
		<Step Target="ConfigureRDIAdapterSQL"/>
	</Target>

</Configuration>
