<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="FlexNetInventoryAgent" Version="1.0" Description="FNMS Inventory Agent package configuration module">
    <Help>
The FlexNetInventoryAgent module configures FNMS Inventory Agent packages.
Targets include:
  * PrepareInvAgentInstallers  Prepare directories containing files that can be used to install Flexera Inventory Manager software components on other computers

    </Help>
  </Identity> 
		
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->
	<Setting
		Name="InvAgentBootstrapDLs"
		Prompt="Enter semi-colon-separated list of beacon download URLs for FlexNet inventory agents to use for bootstrapping (example: http://ds1.acme.com/ManageSoftDL;https://ds2.acme.com/ManageSoftDL"
	/>

	<Setting
		Name="InvAgentBootstrapRLs"
		Prompt="Enter semi-colon-separated list of beacon upload URLs for FlexNet inventory agents to use for bootstrapping (example: http://ds1.acme.com/ManageSoftRL;https://ds2.acme.com/ManageSoftRL"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->	

	<Target Name="PrepareInvAgentInstallers"
		Description="Prepare directories containing files that can be used to install Flexera Inventory Manager software components on other computers"
	>
		<Step Load="InvAgentConfigure.ps1"/>
		<Step Call="PrepareWindowsInvAgentInstallers"/>
		<Step Call="PrepareUNIXInvAgentInstallers"/>
	</Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations register steps with global targets.   
    Other modules may also add steps to these same targets.  
  -->
	<Target Name="InstallAll">
		<Step Target="PrepareInvAgentInstallers"/>
	</Target>
	
</Configuration>
