<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
	<!-- 
		MODULE IDENTITY
		The following declarations identifies theis module and assists in version control
	-->
	<Identity Name="Modules" Version="1.0" Description="FlexAdmin Module Library">
		<Help>
This module unpacks and installs an initial set of FlexAdmin configuration modules for this implementation

Modules targets include:
  * SetDefaultSettings  Set default ImplFile settings
  * InstallModules      Unpack and Installs Flexadmin Modules
		</Help>
	</Identity>	
	
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <Setting
    Name="SetupComputerRole"
    Prompt="What is the role of this server install? (default: single)"
    Default="single"
  />

  <Setting
    Name="SetupComputer"
    Prompt="What is this computer's name? (default: localhost)"
    Default="localhost"
  />

  <Setting
    Name="SetupDnsDomain"
    Prompt="What is this computer's dns domain? (default: acme.com)"
    Default="acme.com"
  />

  <Setting
    Name="SetupDomain"
    Prompt="What is this computer's domain? (default: ACME)"
    Default="ACME"
  />

  <Setting
    Name="SetupUser"
    Prompt="Who is running this install? (default: ACME\user)"
    Default="ACME\user"
  />

  <Setting
    Name="SetupSourceDir"
    Prompt="Where is the installer source? (default: C:\source)"
    Default="C:\source"
  />

  <Setting
    Name="SetupLogFilesDir"
    Prompt="Where will log files be written? (default: C:\LogFiles)"
    Default="C:\LogFiles"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="SetDefaultSettings" Description="Set default ImplFile settings">
    <Step Load="Modules.ps1"/>
    <Step Call="SetDefaultSettings"/>
  </Target>

  <Target Name="InstallModules" Description="Unpack and Installs Flexadmin Modules">
    <Step Load="Modules.ps1"/>
    <Step Call="InstallModules"/>
  </Target>
	
</Configuration>
