<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Writers>
		<Writer FileName="ActiveDirectory.xml" ProcedureName="ActiveDirectory" />
		<Writer FileName="ActiveSync.xml" ProcedureName="Computer" />
		<Writer FileName="Domain.xml" ProcedureName="Computer" />
		<Writer FileName="User.xml" ProcedureName="Computer" />
		<Writer FileName="Computer.xml" ProcedureName="Computer" />
		<Writer FileName="VDI.xml" ProcedureName="Computer" />
		<Writer FileName="RemoteACLDevice.xml" ProcedureName="Computer" />
		<Writer FileName="VirtualMachine.xml" ProcedureName="VirtualMachine" />
		<Writer FileName="Cluster.xml" ProcedureName="VirtualMachine" />
		<Writer FileName="CloudServiceInstance.xml" ProcedureName="CloudInstance" />
		<Writer FileName="Group.xml" ProcedureName="Group" />
		<Writer FileName="FileEvidence.xml" ProcedureName="Evidence" />
		<Writer FileName="InstallerEvidence.xml" ProcedureName="Evidence" />
		<Writer FileName="WMIEvidence.xml" ProcedureName="Evidence" />
		<Writer FileName="AccessEvidence.xml" ProcedureName="Evidence" />
		<Writer FileName="SoftwareTitleEvidence.xml" ProcedureName="Evidence" />
		<Writer FileName="InstalledSoftware.xml" ProcedureName="MatchARL" />
		<Writer FileName="AccessedSoftware.xml" ProcedureName="MatchARL" />
		<Writer FileName="Usage.xml" ProcedureName="Usage" />
		<Writer FileName="RemoveMissingComputers.xml" ProcedureName="RemoveMissingComputers"/>
		<Writer FileName="RemoveMissingUsers.xml" ProcedureName="RemoveMissingUsers"/>
		<Writer FileName="SyncDiscoveredDevice.xml" ProcedureName="SyncDiscoveredDevice"/>
		<Writer FileName="PreCalculation.xml" ProcedureName="PreCalculation"/>
		<Writer FileName="UpdateStatistics.xml" ProcedureName="UpdateStatistics"/>
		<Writer FileName="LicenseCreateUpdate.xml" ProcedureName="LicenseCreateUpdate" />
		<Writer FileName="EntitlementAutomation.xml" ProcedureName="EntitlementAutomation" />
		<Writer FileName="LicenseReconciliation.xml" ProcedureName="LicenseReconciliation" />
		<Writer FileName="RemoveOrphanedDocuments.xml" ProcedureName="Complete" />
		<Writer FileName="Complete.xml" ProcedureName="Complete" />
	</Writers>
</Configuration>
