<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- Targets for performing operational functions -->
	<Target Name="ProcessDataImportTasks" Description="Check for any pending Data Import Web Portal uploads and process them">
		<Step Load="DataImportWebPortal-Execute.ps1"/>
		<Step Call="ProcessDataImportTasks"/>
	</Target>

	<Target Name="DeleteOldDataImportTasks" Description="Check for and delete details of any Data Import Web Portal uploads that completed a while ago">
		<Step Load="DataImportWebPortal-Execute.ps1"/>
		<Step Call="DeleteOldDataImportTasks"/>
	</Target>
	
	<Target Name="MonitorAndProcessDataImportTasks" Description="Long-running process to watch for and process Data Import Web Portal uploads as they are queued">
		<Step Load="DataImportWebPortal-Execute.ps1"/>
		<Step Call="MonitorAndProcessDataImportTasks"/>
	</Target>


	<!-- Targets for installation & configuration activities -->
	<Target Name="InstallDataImportWebPortalAdapters" Description="Install Data Import Web Portal adapter files">
		<Step Load="DataImportWebPortal-Setup.ps1"/>
		<Step Call="InstallDataImportWebPortalAdapters"/>
	</Target>

	<!-- Web server setup steps -->
	<Target Name="ConfigureDataImportWebPortalAppServer">
		<Step Load="DataImportWebPortal-Setup.ps1"/>

		<Step SQLScript="DataImportWebPortal.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
		<Step Call="ConfigureDataImportWebPortal"/>
		<Step Target="InstallDataImportWebPortalAdapters"/>
	</Target>

	<!-- Batch server setup steps -->
	<Target Name="ConfigureDataImportWebPortalBatchServer">
		<Step Load="DataImportWebPortal-Setup.ps1"/>
		<Step Call="ConfigureExcelDriversForSpreadsheetImports"/>
	</Target>

	<!-- Target running setup steps that can be run on any server (it will select the right steps to perform) -->
	<Target Name="ConfigureDataImportWebPortal" Description="Install and configure Data Import Web Portal components (including installing adapter files)">
		<Step Target="ConfigureDataImportWebPortalAppServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
		<Step Target="ConfigureDataImportWebPortalBatchServer" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ConfigureDataImportWebPortalScheduledTask"
		Description="Configure a scheduled task to watch for and process Data Import Web Portal uploads as they are queued"
	>
		<Step ScheduleFlexAdminTarget="MonitorAndProcessDataImportTasks"
			TaskName="FlexNet Manager Platform\Process Data Import Web Portal uploads"
			ScheduleOptions="/sc DAILY /ri 1 /st 00:00:00 /du 24:00 /rl HIGHEST"
			RunAs="$(FNMSServiceAccount)"
			If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"
		/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->
	<Target Name="ApplyFNMSAppServerCustomizations">
		<Step Target="ConfigureDataImportWebPortal"/>
	</Target>

	<Target Name="ConfigureScheduledTasks">
		<Step Target="ConfigureDataImportWebPortalScheduledTask"/>
	</Target>
</Configuration>
