<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Staging" Version="1.0" Description="Staging database configuration module">
    <Help>
The Staging (database) module configures databases on Beacon or FNMS servers.
Targets include:
	* ConfigureStagingDatabase  Create and configure a custom staging database
    </Help>
  </Identity> 
	
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->
	<Setting
		Name="InstallStagingDatabase"
		Prompt="Should a staging database be configured? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>

	<Setting
		Name="StagingDBServer"
		Prompt="Enter Microsoft SQL Server instance name (and port number if necessary) for the FlexNet Manager Suite staging database (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
	/>

	<Setting
		Name="StagingDBName"
		Prompt="Enter name for the FlexNet Manager Suite staging database (default: FNMSStaging)"
		Default="FNMSStaging"
	/>

	<Setting
		Name="StagingAdminsGroup"
		Prompt="Enter qualified name (DOMAIN\GROUP) of the security group containing Staging database administrator accounts (default: FLEXDEMO\FNMS Administrators"
	  Default="FLEXDEMO\FNMS Administrators"		
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->	
	<Target Name="ConfigureStagingAdminsGroup">
		<Step Call="(GetStagingAdminsGroup) -ne $null" Load="Staging.ps1"/>
	</Target>

	<Target Name="ConfigureStagingDatabase" Description="Create and configure a custom staging database for FlexNet Manager Suite data">
		<Step Target="ConfigureStagingAdminsGroup"/>
		<Step SQLScript="CreateStagingDatabase.sql" 
			DBServer="$(StagingDBServer)" 
			DBName="master" 
			ConfigSettings="StagingDBName" 
		/>
		<Step SQLScript="ConfigureDatabaseSecurity.sql" 
			DBServer="$(StagingDBServer)" 
			DBName="$(StagingDBName)" 
			ConfigSettings="StagingAdminsGroup" 
		/>
		<Step SQLScript="BusinessAdapterSchema.sql" 
			DBServer="$(StagingDBServer)" 
			DBName="$(StagingDBName)" 
		/>
		<Step SQLScript="BusinessAdapterSchemaUsers.sql" 
			DBServer="$(StagingDBServer)" 
			DBName="$(StagingDBName)" 
		/>
		<Step SQLScript="BusinessAdapterSchemaAssets.sql" 
			DBServer="$(StagingDBServer)" 
			DBName="$(StagingDBName)" 
		/>
	</Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations register steps with global targets.   
    Other modules may also add steps to these same targets.  
  -->
	<Target Name="ApplyAllCustomizations">
		<Step Target="ConfigureStagingDatabase" If="(GetConfigValue 'InstallStagingDatabase') -eq 'Y'"/>		
	</Target>
  
</Configuration>
