<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
	<!-- 
		MODULE IDENTITY
		The following declarations identifies this module and assists in version control
	-->
	<Identity Name="Shell" Version="1.0" Description="Shell support module">
		<Help>
The FlexAdmin Shell module implemest a set of Shell help targets that allow the user to query information 
about the state of an implemenation, and about flexadmin installation options

Shell targets include:
  * ShellHelp                 Displays this help
  * ShellListModules          Lists all FlexAdmin modules
  * ShellListTargets          Lists all target names and descriptions
  * ShellListSettings         Lists all configured settings with values  
  * ShellListInstalled        Lists all installed FNMS products
  * ShellListTenants          Lists configured database tenants
  * ShellListWindowsFeatures  Lists Windows installed features  
  
  * ShellUpdateRegSettings    Update registry based settings with current values  
		</Help>
	</Identity>	
	
	<!-- 
		LOCAL FUNCTIONS
		The following declarations define functions that are local to this module.
	-->
	<Load Script="ShellFunctions.ps1"/>	
	
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <Setting
    Name="ShellDebug"
    Prompt="Set ShellDebug [true,false? (default: true)"
    Default="true"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
    <Step Call="SetConfigValue 'CurrentTenantID', (PromptForTenant)"/>
  -->

  <Target Name="ShellHelp" Description="Displays Help for the Shell module">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellHelp"/>
  </Target>

  <Target Name="PowerShellHelp" Description="Runs PowerShell Get-Help">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="PowerShellHelp"/>
  </Target>

  <Target Name="ShellListModules" Description="Full lising of Modules">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellListModules"/>
  </Target>

  <Target Name="ShellListTargets" Description="List all target names and descriptions">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellListTargets"/>
  </Target>

  <Target Name="ShellListSettings" Description="List all settings with values">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellListSettings"/>
  </Target>

  <Target Name="ShellListInstalled" Description="List all installed FNMS products">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellListInstalledProducts"/>
  </Target>

  <Target Name="ShellListWindowsFeatures" Description="List Windows installed features">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellListWindowsFeatures"/>
  </Target>

  <Target Name="ShellListTenants" Description="Lists configured database tenants">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellListTenants"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
    <Step Call="SetConfigValue 'CurrentTenantID', (PromptForTenant)"/>
  -->

  <Target Name="ShellUpdateRegSettings" Description="Update registry based settings with current values">
    <Step Load="FlexAdminShell.ps1"/>
    <Step Call="ShellUpdateRegSettings"/>
  </Target>
	
</Configuration>
