<?xml version="1.0" encoding="utf-8" ?>

<!--
	This module contains targets for installing and configuring the FNMS application server.
	Copyright (C) 2015-2018 Flexera
-->

<Configuration>
	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- Targets that may be executed on one or more FNMS server configurations -->

	<Target Name="DisplayActivationWizard"
		Description="Display the Activation Wizard to register your FlexNet Manager Suite license"
	>
		<Step Load="FNMSConfigure.ps1"/>
		<Step Call="DisplayActivationWizard"/>
	</Target>

	<Target Name="ConfigureWindowsFeaturesForFNMS"
		Description="Configure Windows features as required for FlexNet Manager Suite application server"
	>
		<Step Load="FNMSInstall.ps1"/>
		<Step Call="ConfigureWindowsFeaturesForFNMS"/>
	</Target>

	<Target Name="RunFNMSConfigurationScript"
		Description="Run the FlexNet Manager Suite application server 'Config.ps1' configuration script"
	>
		<Step Load="FNMSConfigure.ps1"/>
		<Step Call="RunFNMSConfigurationScript"/>
	</Target>


	<!-- Application server targets -->

	<Target Name="InstallFNMSAppServer"
		Description="Install FlexNet Manager Suite application server components"
	>
		<Step Target="ConfigureWindowsFeaturesForFNMS"/>
		<Step Load="FNMSInstall.ps1"/>
		<Step Call="InstallFNMSAppServer"/>
		<Step Target="RunFNMSConfigurationScript"/>
		<Step Target="DisplayActivationWizard"/>
		<Step Target="ApplyFNMSAppServerCustomizations"/>
	</Target>

	<Target Name="ApplyFNMSAppServerCustomizations"
		Description="Apply FlexNet Manager Suite customizations for the application server."
	>
		<Step Load="FNMSConfigure.ps1"/>
		<Step Call="ConfigureComplianceReaderTracing" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
		<Step Call="ConfigureWebUITracing" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="UninstallFNMSAppServer"
		Description="Uninstall FlexNet Manager Suite combined inventory, web and reconciliation application server components"
	>
		<Step Call="UninstallFNMS" Load="FNMSInstall.ps1"/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallAll">
		<Step Target="InstallFNMSAppServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y' -or (GetConfigValue 'InstallBatchServerComponents') -eq 'Y' -or (GetConfigValue 'InstallInventoryServerComponents') -eq 'Y'"/>
		<Step Target="ConfigureScheduledTasks"/>
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallFNMSAppServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y' -or (GetConfigValue 'InstallBatchServerComponents') -eq 'Y' -or (GetConfigValue 'InstallInventoryServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<Step Target="ApplyFNMSAppServerCustomizations"/>
	</Target>
</Configuration>
