<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
	<!-- <Module Path="FNMS"/> -->
	<!-- <Module Path="FNMSConfig"/> -->	
	<!-- <Module Path="Staging"/> -->
	<!-- <Module Path="Analytics"/> -->
	<!-- <Module Path="Reports"/> -->
	<Module Path="*"/>

	<Target Name="ConfigureFNMSAdminsGroup">
		<Step Call="(GetFNMSAdminsGroup) -ne $null" If="(GetConfigValue 'CheckADObjectConfiguration') -eq 'Y'"/>
	</Target>

	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->
	
	<!-- 
		This is a placeholder for the ConfigureAllDatabases target.   It's not strictly required
		but is a convenient single place to set the target's description.
		Each database module will add its targets as dependencies of this target. 
	-->
	<Target Name="ConfigureAllDatabases" Description="Create and configure all databases"/>
	
	<Target Name="InstallAll">
		<Step Target="ConfigureAllDatabases"/>
	</Target>
</Configuration>
