<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2019 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="ADUsers" Version="1.0" Description="Beacon ADUsers adapter module">
    <Help>
The ADUsers module configures the ADUsers Business Adapter on a Beacon server.
Standard Targets include:
  * ConfigureADUsersAdapterSettings   Configure adapter settings adapters
  * InstallADUsersAdapter             Install the AD Users Adapter
  * ProcessDomainsForADUsers          Run ADUser import processing against the domain set

  * ConfigureProcessDomainsForADUsersScheduledTask   Configure "Process Domains For ADUsers"

Test Targets include:
  * ExportADUserData                  Export AD User data to a CSV file
  * ImportADUserData                  Import AD User data from a CSV file
  * LoadADUsersSourceDataToStaging    Read the source data used by the AD Users Adapter  
    </Help>
  </Identity>
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="UserDataCsvFile"
    Prompt="Enter the name of the User data CSV export file (default: ADUserData.csv)"
    Default="ADUserData.csv"
  />
  
  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="ConfigureADUsersAdapterSettings" Description="Configure adapter settings adapters">
    <Step Call="ConfigureAdapterSettings" Load="ADUsers.ps1"/>
  </Target>
  
  <Target Name="InstallADUsersAdapter" Description="Install the AD Users Adapter">
    <Step Call="Install" Load="ADUsers.ps1"/>
  </Target>

  <Target Name="ProcessDomainsForADUsers" Description="Run ADUser import processing against the domain set">
    <Step Call="ProcessDomainsForADUsers" Load="ADUsers.ps1"/>
  </Target>
  
  <!--
    LOCAL TARGETS (TEST)
    The following declarations define targets that are local to this module.
  -->

  <Target Name="ExportADUserData" Description="Export AD User data to a CSV file">
    <Step Call="ExportADUserData" Load="ADUsers.ps1"/>
  </Target>

  <Target Name="ImportADUserData" Description="Import AD User data from a CSV file">
    <Step Call="ImportADUserData" Load="ADUsers.ps1"/>
  </Target>

  <Target Name="LoadADUsersSourceDataToStaging" Description="Read the source data used by the AD Users Adapter">
    <Step Call="LoadSourceDataIntoStaging" Load="ADUsers.ps1"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="ConfigureProcessDomainsForADUsersScheduledTask">
    <Step ScheduleFlexAdminTarget="ProcessDomainsForADUsers"
        TaskName="Flexera Inventory Beacon\Process Domains For ADUsers"
        ScheduleOptions="/sc DAILY /st 01:30:00"
        RunAs="$(FNMSBeaconServiceAccount)"
      />
  </Target>

  <!--
    GLOBAL TARGETS
    The following declarations register steps with global targets.
    Other modules may also add steps to these same targets.
  -->
  
  <Target Name="ApplyBeaconCustomizations">
    <Step Target="ConfigureADUsersAdapterSettings"/>
    <Step Target="InstallADUsersAdapter"/>
    <Step Target="ConfigureProcessDomainsForADUsersScheduledTask"/>
  </Target>

</Configuration>
