<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for cleaning up FNMS files and data which can become stale and obsolete.

	Copyright (C) 2015-2017 Flexera Software
-->
<Configuration>
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->

	<Setting
		Name="DaysToKeepInactiveComputerInventory"
		Prompt="Enter number of days to keep computer inventory before deletion due to inactivity (default: 90)"
		Default="90"
	/>

	<Setting
		Name="DaysToKeepBusinessAdapterLogs"
		Prompt="Enter number of days to keep business adapter logs (default: 90)"
		Default="90"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="RegularCleanup"
		Description="Perform regular cleanup activities to remove stale old files and data"
	>
		<Step SQLScript="DeleteObsoleteSoftwareFileUsage.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
		<Step SQLScript="DeleteAgedBusinessAdapterLogs.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'" ConfigSettings="DaysToKeepBusinessAdapterLogs"/>
		
		<Step Load="Cleanup.ps1"/>
		<Step Call="CleanupStaleFiles"/>
	</Target>

	<Target Name="ConfigureCleanupScheduledTask"
		Description="Configure a scheduled task to perform regular cleanup activities"
	>
		<!-- Batch server setup steps -->
		<Step ScheduleFlexAdminTarget="RegularCleanup"
			TaskName="FlexNet Manager Platform\Cleanup stale files and data"
			ScheduleOptions="/sc DAILY /st 00:30:00"
			RunAs="$(FNMSServiceAccount)"
		/>
	</Target>

	
	
	<Target Name="DeleteInactiveComputerInventory"
		Description="Delete inventory data for computers that have not been heard from recently">

		<Step SQLScript="DeleteInactiveComputers.sql"
			DBServer="$(FNMSInvDBServer)"
			DBName="$(FNMSInvDBName)"
			ConfigSettings="DaysToKeepInactiveComputerInventory"
		/>
	</Target>

	<Target Name="ConfigureDeleteInactiveComputerInventoryScheduledTask"
		Description="Configure scheduled tasks to delete inactive computer inventory"
	>
		<!-- Batch server setup steps -->
		<Step ScheduleFlexAdminTarget="DeleteInactiveComputerInventory"
			TaskName="FlexNet Manager Platform\Delete inactive computer inventory"
			ConfigSettings="DaysToKeepInactiveComputerInventory"
			ScheduleOptions="/sc DAILY /st 00:30:00"
			RunAs="$(FNMSServiceAccount)"
			If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"
		/>
	</Target>	
	

	
	<Target Name="MarkAssetsAsDisposed"
		Description="Mark assets as disposed if they do not have inventory and are not marked as 'off network'">

		<Step SQLScript="DisposeAssetsOnNetworkWithoutInventory.sql"
			DBServer="$(FNMSDBServer)"
			DBName="$(FNMSComplianceDBName)"
		/>
	</Target>

	<Target Name="ConfigureMarkAssetsAsDisposedScheduledTask"
		Description="Configure scheduled tasks to mark assets as disposed"
	>
		<Step ScheduleFlexAdminTarget="MarkAssetsAsDisposed"
			TaskName="FlexNet Manager Platform\Mark assets as disposed"
			ScheduleOptions="/sc DAILY /st 05:10:00"
			RunAs="$(FNMSServiceAccount)"
			If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"
		/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ConfigureScheduledTasks">
		<Step Target="ConfigureCleanupScheduledTask"/>
		<Step Target="ConfigureDeleteInactiveComputerInventoryScheduledTask"/>
		<Step Target="ConfigureMarkAssetsAsDisposedScheduledTask"/>
	</Target>
	
</Configuration>
