<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for creating and configuring FNMS databases.

	Copyright (C) 2021 Crayon
-->
<Configuration>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigureCustomReports" Description="Create custom reports">

		<Step SQLScript="CustomReports.sql" DBServer="$(FNMSDBServer)" DBName="FNMSCompliance"/>

	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ApplyAllCustomizations">
		<Step Target="ConfigureCustomReports" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
