<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Adapters" Version="1.0" Description="Adapters configuration module">
    <Help>
The Adapters module configures Business Adapters on an FNMS server.
Targets include:
  * ConfigureCommonAdapterSettings  Configure adapter settings that are common to several adapters
  * ConfigureImportFileShares       Configure import file shares
  * InstallBeaconBusinessAdapters   Install FNMS Inventory Beacon business adapters

  * ConfigureAdapters               Apply all Adapter configurations  
  
  * RegisterUserDomainCredentials   Register the credential to be used with user domain queries and processing  
  * CheckUserDomainCredentials      Check the credential to be used with user domain queries and processing  
  
    </Help>
  </Identity> 
  <!-- 
    REFERENCES
    The following module declarations reference sub-modules
  -->
  <Module Path="*"/>
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="ODBCDSNName"
    Prompt="Enter the DSN name of the ODBC connection to be created and used in the CSV based business adapters (default: FNMSCSVDataImport)"
    Default="FNMSCSVDataImport"
  />

  <Setting
    Name="DataImportFolder"
    Prompt="Enter the name of the folder that data files are imported from (default: C:\FNMS\DataImport)"
    Default="C:\FNMS\DataImport"
  />

  <Setting
    Name="DataImportShare"
    Prompt="Enter the name of the share to be created on the data import folder (default: DataImport)"
    Default="DataImport"
  />
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="UserDomain"
    Prompt="Enter the fully qualified name of the Active Directory domain to search for user accounts (e.g. my.domain.com)"
  />

  <Setting
    Name="UserDomainAccount"
    Prompt="Enter user domain account name. (default: nbndc\svc_fnmp_prod)"
    Default="nbndc\svc_fnmp_prod"
  /> 

  <Setting
    Name="UserDomainServer"
    Prompt="Enter name of the user domain dc server. (default: nbnco.com.au)"
    Default="nbnco.com.au"
  /> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="DevicesDomain"
    Prompt="Enter the fully qualified name of the Active Directory domain to search for device accounts (e.g. my.domain.com)"
  />

  <Setting
    Name="DevicesDomainAccount"
    Prompt="Enter device domain account name. (default: nbndc\svc_fnmp_prod)"
    Default="nbndc\svc_fnmp_prod"
  /> 

  <Setting
    Name="DevicesDomainServer"
    Prompt="Enter name of the device domain dc server. (default: nbnco.com.au)"
    Default="nbnco.com.au"
  /> 
  
  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="ConfigureCommonAdapterSettings" Description="Configure adapter settings that are common to several adapters">
    <Step Call="ConfigureCommonAdapterSettings" Load="Adapters.ps1"/>
  </Target>

  <Target Name="ConfigureImportFileShares" Description="Configure import file shares">
    <Step Call="ConfigureImportFileShares" Load="Adapters.ps1"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
    
  <Target Name="RegisterUserDomainCredentials" Description="Register the credential to be used with user domain queries and processing">
    <Step Call="RegisterUserDomainCredentials" Load="Adapters.ps1"/>
  </Target>
  
  <Target Name="CheckUserDomainCredentials" Description="Check the credential to be used with user domain queries and processing">
    <Step Call="CheckUserDomainCredentials" Load="Adapters.ps1"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="RegisterDevicesDomainCredentials" Description="Register the credential to be used with device domain queries and processing">
    <Step Call="RegisterDevicesDomainCredentials" Load="Adapters.ps1"/>
  </Target>
  
  <Target Name="CheckDevicesDomainCredentials" Description="Check the credential to be used with device domain queries and processing">
    <Step Call="CheckDevicesDomainCredentials" Load="Adapters.ps1"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="ProcessDomains" Description="Run import processing against the domain set">
    <Step Call="ProcessDomains" Load="Adapters.ps1"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
 
  <Target Name="InstallBeaconBusinessAdapters" Description="Install FlexNet Manager Suite Inventory Beacon business adapters">
    <Step Load="Adapters.ps1"/>
    <Step Call="InstallBeaconBusinessAdapters"/>
  </Target>
  
  <Target Name="ConfigureAdapters" Description="Apply all Adapter configurations">
    <Step Target="ConfigureCommonAdapterSettings"/>
    <Step Target="ConfigureImportFileShares"/>    
    <Step Target="InstallBeaconBusinessAdapters"/>    
  </Target>
  
  <!-- 
    GLOBAL TARGETS
    The following declarations register steps with global targets.   
    Other modules may also add steps to these same targets.  
  -->
  
  <Target Name="ApplyAllCustomizations">
    <Step Target="ConfigureCommonAdapterSettings"/>
    <Step Target="ConfigureImportFileShares"/>    
    <Step Target="InstallBeaconBusinessAdapters"/>
  </Target>
</Configuration>
