<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<![CDATA[
		SELECT '1.0' AS Version
	]]>
	<Readers>
		<Reader FileName="ApplicationGroup.xml" ProcedureName="Computer" />
		<Reader FileName="User.xml" ProcedureName="Computer" />
		<Reader FileName="InstallerEvidence.xml" ProcedureName="Evidence" />
	</Readers>
</Configuration>