<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
	<!-- 
		MODULE IDENTITY
		The following declarations identifies this module and assists in version control
	-->
	<Identity Name="Shell" Version="1.0" Description="Shell support module">
		<Help>
The FlexAdmin Beacon module implements a set of targets that allow the user to configure a Beacon

Beacon install targets include:
  * CheckIISFeaturesForBeacon       Check Beacon pre-requistite features in IIS
	* ConfigureIISFeaturesForBeacon   Configure Beacon pre-requistite features in IIS
	
	* LoadSelfSignedCertificate       Load a Self-Signed Certificate for IIS from file
	* CreateSelfSignedCertificate     Create a new Self-Signed Certificate for IIS
	
	* InstallBeacon                   FlexNet Inventory Beacon components
	* UninstallBeacon                 Uninstall FlexNet Inventory Beacon components
		</Help>
	</Identity>	
	
	<!-- 
		LOCAL FUNCTIONS
		The following declarations define functions that are local to this module.
	-->
	<!-- <Load Script="BeaconInstall.ps1"/>	-->
	
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="InstallBeacon"
		Prompt="Should the FlexNet beacon software be installed on this server? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>

	<Setting
		Name="FNMSBeaconServerFQDN"
		Prompt="Enter hostname of the Beacon server"
	/>

	<Setting
		Name="CertificateFriendlyName"
		Prompt="Enter a friendly name for the certificate (default: Beacon)"
		Default="Beacon"
	/>

	<Setting
		Name="BeaconCertificateFileName"
		Prompt="Enter the name of the Beacon certificate file (default: beacon.pfx)"
		Default="beacon.pfx"
	/>

	<Setting
		Name="CertificateFileName"
		Prompt="Enter the name of the exported certificate file (default: cert.pfx)"
		Default="cert.pfx"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckIISFeaturesForBeacon" Description="Check Beacon pre-requistite features in IIS">
		<Step Load="BeaconIIS.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>
	</Target>

	<Target Name="ConfigureIISFeaturesForBeacon" Description="Configure Beacon pre-requistite features in IIS">
		<Step Load="BeaconIIS.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>		
		<Step Call="ConfigureIISFeaturesForBeacon"/>
	</Target>

	<Target Name="LoadSelfSignedCertificate" Description="Load a Self-Signed Certificate for IIS from file">
		<Step Load="BeaconIIS.ps1"/>
		<Step Call="LoadSelfSignedCertificateFromFile"/>
	</Target>

	<Target Name="CreateSelfSignedCertificate" Description="Create a new Self-Signed Certificate for IIS">
		<Step Load="BeaconIIS.ps1"/>
		<Step Call="CreateSelfSignedCertificate"/>
	</Target>

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="BeaconInstallDir"
		Prompt="Enter path of the installation directory for Flexera Inventory Beacon (default: blank = use default installation location)"
		Optional="True"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="InstallBeacon" Description="Install FlexNet Inventory Beacon components">
		<Step Load="BeaconInstall.ps1"/>
		<Step Call="InstallBeacon"/>
		<Step Call="ConfigureBeaconRegistrySettings"/>
	</Target>

	<Target Name="UninstallBeacon" Description="Uninstall FlexNet Inventory Beacon components">
		<Step Load="BeaconInstall.ps1"/>
		<Step Call="UninstallBeacon"/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->

	<Target Name="InstallAll">
	  <Step Target="ConfigureIISFeaturesForBeacon" If="(GetConfigValue 'InstallBeacon') -eq 'Y'"/>
		<Step Target="InstallBeacon" If="(GetConfigValue 'InstallBeacon') -eq 'Y'"/>
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallBeacon"/>
	</Target>
</Configuration>
