<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2019 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="ADDevices" Version="1.0" Description="Beacon ADDevices adapter module">
    <Help>
The ADDevices module configures the ADDevices Business Adapter on a Beacon server.
Standard Targets include:
  * ConfigureADDevicesAdapterSettings   Configure adapter settings adapters
  * InstallADDevicesAdapter             Install the AD Devices Adapter
  * ProcessDomainsForADDevices          Run ADDevice import processing against the domain set

  * ConfigureProcessDomainsForADDevicesScheduledTask   Configure "Process Domains For ADDevices"

Test Targets include:
  * ExportADDevicesData                 Export AD Devices data to a CSV file
  * ImportADDevicesData                 Import AD Devices data from a CSV file
  * LoadADDevicesSourceDataToStaging    Read the source data used by the AD Devices Adapter
    </Help>
  </Identity>

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="DevicesDataCsvFile"
    Prompt="Enter the name of the Devices data CSV export file (default: ADDevicesData.csv)"
    Default="ADDevicesData.csv"
  />
    
  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="ConfigureADDevicesAdapterSettings" Description="Configure adapter settings adapters">
    <Step Call="ConfigureAdapterSettings" Load="ADDevices.ps1"/>
  </Target>
  
  <Target Name="InstallADDevicesAdapter" Description="Install the AD Users Adapter">
    <Step Call="Install" Load="ADDevices.ps1"/>
  </Target>

  <Target Name="ProcessDomainsForADDevices" Description="Run ADDevice import processing against the domain set">
    <Step Call="ProcessDomainsForADDevices" Load="ADDevices.ps1"/>
  </Target>
    
  <!--
    LOCAL TARGETS (TEST)
    The following declarations define targets that are local to this module.
  -->
  <Target Name="ExportADDevicesData" Description="Export AD Devices data to a CSV file">
    <Step Call="ExportADDevicesData" Load="ADDevices.ps1"/>
  </Target>

  <Target Name="ImportADDevicesData" Description="Import AD Devices data from a CSV file">
    <Step Call="ImportADDevicesData" Load="ADDevices.ps1"/>
  </Target>

  <Target Name="LoadADDevicesSourceDataToStaging" Description="Read the source data used by the AD Devices Adapter">
    <Step Call="LoadSourceDataIntoStaging" Load="ADDevices.ps1"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="ConfigureProcessDomainsForADDevicesScheduledTask">
    <Step ScheduleFlexAdminTarget="ProcessDomainsForADDevices"
        TaskName="Flexera Inventory Beacon\Process Domains For ADDevices"
        ScheduleOptions="/sc DAILY /st 01:30:00"
        RunAs="$(FNMSBeaconServiceAccount)"
      />
  </Target>

	<!-- 
		PARENT TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->

  <Target Name="ProcessDomains" Description="Run ADDevice import processing against the domain set">
  </Target>

  <!--
    GLOBAL TARGETS
    The following declarations register steps with global targets.
    Other modules may also add steps to these same targets.
  -->
  
  <Target Name="ApplyBeaconCustomizations">
    <Step Target="ConfigureADDevicesAdapterSettings"/>  	
    <Step Target="InstallADDevicesAdapter"/>
    <Step Target="ConfigureProcessDomainsForADDevicesScheduledTask"/>
  </Target>

</Configuration>
