<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for cleaning up FNMS files and data which can become stale and obsolete.

	Copyright (C) 2015-2017 Flexera Software
-->
<Configuration>
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->

	<Setting
		Name="DaysToKeepInactiveComputerInventory"
		Prompt="Enter number of days to keep computer inventory before deletion due to inactivity (default: 90)"
		Default="90"
	/>


	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="RegularCleanup"
		Description="Perform regular cleanup activities to remove stale old files and data"
	>
		<Step SQLScript="DeleteInactiveComputers.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)" ConfigSettings="DaysToKeepInactiveComputerInventory" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
		<Step SQLScript="DeleteObsoleteSoftwareFileUsage.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
		
		<Step Load="Cleanup.ps1"/>
		<Step Call="CleanupStaleFiles"/>
	</Target>

	<Target Name="ConfigureCleanupScheduledTask"
		Description="Configure a scheduled task to perform regular cleanup activities"
	>
		<!-- Batch server setup steps -->
		<Step ScheduleFlexAdminTarget="RegularCleanup"
			TaskName="FlexNet Manager Platform\Local\Cleanup stale files and data"
			ConfigSettings="DaysToKeepInactiveComputerInventory"
			ScheduleOptions="/sc DAILY /st 00:30:00"
			RunAs="$(FNMSServiceAccount)"
      CredentialManagerTarget="$(FNMSBatchServerFQDN)"   			
		/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ApplyAllCustomizations">
		<Step Target="ConfigureCleanupScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="InstallAll">
		<Step Target="ConfigureCleanupScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ConfigureScheduledTasks">
		<Step Target="ConfigureCleanupScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
