<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for creating and configuring FNMS databases.

	Copyright (C) 2018 Flexera
-->
<Configuration>
	<!--
		LOCAL SETTINGS
	-->

	<Setting
		Name="AllIPAddressesCALInventoryGatheringOption"
		Prompt="What CAL inventory option should be specified on the 'All IP Addresses' target to control CAL inventory gathering by the FlexNet inventory agent? (default: 1 = Not specified, alternative values: 2 = Allow, 3 = Do not allow)"
		Default="1"
		Validate="
			&amp; {
				param ($v)
				try {
					switch ([int]$v) {
					1 { return 'NotSpecified' }
					2 { return 'Allow' }
					3 { return 'DoNotAllow' }
					}
				}
				catch { }
				return $false
			}
		"
	/>

	<Setting
		Name="AllIPAddressesUsageGatheringOption"
		Prompt="What application usage option should be specified on the 'All IP Addresses' target to control application usage gathering by the FlexNet inventory agent? (default: 1 = Not specified, alternative values: 2 = Allow, 3 = Do not allow)"
		Default="1"
		Validate="
			&amp; {
				param($v)
				try {
					switch ([int]$v) {
					1 { return 'NotSpecified' }
					2 { return 'Allow' }
					3 { return 'DoNotAllow' }
					}
				}
				catch { }
				return $false
			}
		"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ApplyFNMSDatabaseCustomizations" Description="Apply FlexNet Manager Suite database customizations">
		<Step SQLScript="DataModelCustomizations.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
		<Step SQLScript="ApplicationSettings.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" ConfigSettings="AllIPAddressesCALInventoryGatheringOption,AllIPAddressesUsageGatheringOption"/>
		<Step SQLScript="CustomProcedures.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" ConfigSettings=""/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ConfigureAllDatabases">
		<Step Target="ApplyFNMSDatabaseCustomizations" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<Step Target="ApplyFNMSDatabaseCustomizations" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
