<?xml version="1.0" encoding="utf-8" ?>

<!-- 
	This module contains targets for creating standlone agent installers.   
	
	This typically involves bundling together agent files or packages together with 
	configuration custom implementation files to create a standalone installer that 
	can be copied to the target device and installed.
	
	Copyright (C) 2015 Flexera Software
-->

<Configuration>
	<Module Path="*"/>

	<Setting
		Name="StandaloneInstallersDir"
		Prompt="Enter path to store generated standalone agent installers"
	/>
</Configuration>
