<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
	<!-- <Module Path="AppServer"/> -->
	<!-- <Module Path="Beacon"/> -->
	<!-- <Module Path="Analytics"/> -->
	<Module Path="*"/>

	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->
	
</Configuration>
