<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<![CDATA[
		--		If there is a 'SoftwareFileUsage' table then the database is one of the following:
		--
		--			- Upgraded 7.64 database.
		--			- Upgraded 7.8.0 database.
		--			- A 7.8.1 (or later) database.
		--
		--		If any of the above, then the database appears to the importer to be a 7.8.1 database.

		DECLARE @FileUsageTableExists bit
		SET @FileUsageTableExists = 0
		if exists (
		SELECT * FROM information_SCHEMA.TABLES
		WHERE TABLE_NAME = 'SoftwareFileUsage'
		)
		begin
		SET @FileUsageTableExists = 1
		end

		SELECT
		case
			when substring(dc.Value, 1, 3) = '7.8' and @FileUsageTableExists = 1 then '7.8.1'
			when substring(dc.Value, 1, 3) = '7.8' then '7.8.0'
			when substring(dc.Value, 1, 3) = '7.6' and @FileUsageTableExists = 1 then '7.8.1'
			else dc.Value
		end AS Version
		FROM dbo.databaseConfiguration AS dc
		WHERE dc.Property = 'SchemaVersion'
	]]>
	<SetupProcedures>
		<SetupProcedureFile FileName="Tenant.xml"/>
	</SetupProcedures>
	<Readers>
		<Reader FileName="ActiveDirectory.xml" ProcedureName="ActiveDirectory" />
		<Reader FileName="Domain.xml" ProcedureName="Computer" />
		<Reader FileName="User.xml" ProcedureName="Computer" />
		<Reader FileName="Computer.xml" ProcedureName="Computer" />
		<Reader FileName="VDI.xml" ProcedureName="Computer" />
		<Reader FileName="VirtualMachine.xml" ProcedureName="VirtualMachine" />
		<Reader FileName="Partition.xml" ProcedureName="VirtualMachine" />
		<Reader FileName="Cluster.xml" ProcedureName="VirtualMachine" />
		<Reader FileName="FileEvidence.xml" ProcedureName="Evidence" />
		<Reader FileName="InstallerEvidenceBefore8.0.xml" ProcedureName="Evidence" />
		<Reader FileName="InstallerEvidence.xml" ProcedureName="Evidence" />
		<Reader FileName="AccessEvidence.xml" ProcedureName="Evidence" />
		<Reader FileName="WMIEvidence.xml" ProcedureName="Evidence" />
		<Reader FileName="Usage.xml" ProcedureName="Usage" />
		<Reader FileName="Complete.xml" ProcedureName="Complete" />
	</Readers>
</Configuration>
