<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Replication" Version="1.0" Description="Processing replocation module">
    <Help>
The BusinessAsUsual module implements common FNMS BAU maintenance tasks.
Targets include:
  * ConfigureReplicationON    Configure web.config file to turn Replication ON
  * ConfigureReplicationOFF   Configure web.config file to turn Replication OFF
  
  * MoveFilesFromReplication  Moves files from the replication director to Incomming
  * ConfigureImportReplicatedFilesScheduledTask  Configure a scheduled task that imports replicated inventories
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <Setting
    Name="ReplicationDirectory"
    Prompt="Enter a root directory to replicate incoming files. (default: \\localhost\replication)"
    Default="\\localhost\replication"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="ConfigureReplicationON" Description="Configure web.config file to turn Replication ON">
    <Step Load="replication.ps1"/>
    <Step Call="ConfigureReplicationON"/>
  </Target>

  <Target Name="ConfigureReplicationOFF" Description="Configure web.config file to turn Replication OFF">
    <Step Load="replication.ps1"/>
    <Step Call="ConfigureReplicationOFF"/>
  </Target>

  <Target Name="MoveFilesFromReplication" Description="Moves files from the replication director to Incomming">
    <Step Load="replication.ps1"/>
    <Step Call="MoveFilesFromReplication"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="ConfigureImportReplicatedFilesScheduledTask" Description="Configure a scheduled task that imports replicated inventories">
    <Step ScheduleFlexAdminTarget="MoveFilesFromReplication"
      TaskName="FlexNet Manager Platform\Local\Import Replicated Files"
      ScheduleOptions="/sc DAILY /st 01:00:00"
      RunAs="$(FNMSServiceAccount)"
      CredentialManagerTarget="$(FNMSBatchServerFQDN)"      
    />
  </Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations define targets that are also referenced in other modules.
  --> 

  <Target Name="ApplyAllCustomizations">
  </Target>

  <Target Name="InstallAll">
  </Target>

  <Target Name="ConfigureScheduledTasks">
  </Target>

</Configuration>
