<?xml version="1.0" encoding="utf-8" ?>

<!-- 
	Copyright (C) 2015 Flexera Software
-->

<Configuration>
	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->
	<Target Name="PrepareXenAppAgentInstaller"
		Description="Prepare directories containing files that can be used to install and configure the XenApp Agent on XenApp Server farms">

		<Step Load="XenAppAgentSetup.ps1"/>
		<Step Call="PrepareXenAppAgentInstaller"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->
	<Target Name="InstallAll">
		<Step Target="PrepareXenAppAgentInstaller"/>
	</Target>
</Configuration>
