<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2017-2018 Flexera -->
<Configuration>
	<Module Path="FNMS"/>
	<Module Path="*"/>

	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->
	
	<!-- 
		This is a placeholder for the ConfigureAllDatabases target.   It's not strictly required
		but is a convenient single place to set the target's description.
		Each database module will add its targets as dependencies of this target. 
	-->
	<Target Name="ConfigureAllDatabases" Description="Create and configure all databases"/>
	
	<Target Name="InstallAll">
		<Step Target="ConfigureAllDatabases"/>
	</Target>
</Configuration>
