<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for creating and configuring FNMS databases.
	Copyright (C) 2018 Flexera
-->
<Configuration>
	<!--
		LOCAL SETTINGS
	-->

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ApplyCustomerTestCustomizations" Description="Apply FlexNet Manager Suite database customizations">
		<Step SQLScript="BlackBox.GroupMemberships.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
	</Target>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ApplyFNMSDatabaseCustomizations" Description="Apply FlexNet Manager Suite database customizations">
		<Step Target="ApplyCustomerTestCustomizations" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ConfigureAllDatabases">
		<Step Target="ApplyFNMSDatabaseCustomizations" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<Step Target="ApplyFNMSDatabaseCustomizations" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
