<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2015 Flexera Software -->
<Configuration>
	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigureImportProcedures"
		Description="Configure custom FlexNet Manager Suite import procedures">

		<Step Load="ConfigureImportProcedures.ps1"/>
		<Step Call="ConfigureImportProcedures"/>
	</Target>

	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Other modules may also add steps to these same targets.  
	-->
	<Target Name="ApplyFNMSAppServerCustomizations">
		<Step Target="ConfigureImportProcedures" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
