<?xml version="1.0" encoding="utf-8" ?>

<!--
	This module contains targets for installing and configuring the FNMS application suite.
	Copyright (C) 2015-2017 Flexera Software
-->

<Configuration>
	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- Targets that may be executed on one or more FNMS server configurations -->
	<Target Name="DisplayActivationWizard" Description="Display the Activation Wizard to register your FlexNet Manager Suite license">
		<Step Load="FNMSConfigure.ps1"/>
		<Step Call="DisplayActivationWizard"/>
	</Target>

	<Target Name="ConfigureFNMSIISFeatures" Description="Configure IIS features as required for FlexNet Manager Suite application server">
		<Step Load="FNMSInstall.ps1"/>
		<Step Call="ConfigureFNMSIISFeatures"/>
	</Target>

	<Target Name="RunFNMSConfigurationScript" Description="Run the FlexNet Manager Suite application server 'Config.ps1' configuration script">
		<Step Load="FNMSConfigure.ps1"/>
		<Step Call="RunFNMSConfigurationScript"/>
	</Target>

	<!-- Application server targets -->
	<Target Name="InstallFNMSAppServer"
		Description="Install FlexNet Manager Suite application server components"
	>
		<Step Target="ConfigureFNMSIISFeatures"/>
		<Step Load="FNMSInstall.ps1"/>
		<Step Call="ConfigureFNMSServiceAccount" If="(GetConfigValue 'CheckADObjectConfiguration') -eq 'Y'"/>
		<Step Call="InstallFNMSAppServer"/>
		<Step Target="RunFNMSConfigurationScript"/>
    <!--	<Step Target="DisplayActivationWizard"/> -->
		<Step Target="ApplyFNMSAppServerCustomizations"/>
	</Target>

	<Target Name="ApplyFNMSAppServerCustomizations" Description="Apply FlexNet Manager Suite customizations for the application server.">
		<Step Load="FNMSConfigure.ps1"/>
		<Step Call="ConfigureLogDirectoryAccess"/>
		<Step Call="ConfigureComplianceReaderTracing" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
		<Step Call="ConfigureWebUITracing" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
		<Step Call="ConfigureFileShares" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'" Load="FNMSCustomConfigure.ps1"/>
		<Step Call="DisableRecognitionDataImportScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'" Load="FNMSCustomConfigure.ps1"/>
	</Target>

	<Target Name="UninstallFNMSAppServer" Description="Uninstall FlexNet Manager Suite combined inventory, web and reconciliation application server components">
		<Step Call="UninstallFNMS" Load="FNMSInstall.ps1"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallAll">
		<Step Target="InstallFNMSAppServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y' -or (GetConfigValue 'InstallBatchServerComponents') -eq 'Y' -or (GetConfigValue 'InstallInventoryServerComponents') -eq 'Y'"/>
		<Step Target="ApplyFNMSAppServerCustomizations"/>
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallFNMSAppServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y' -or (GetConfigValue 'InstallBatchServerComponents') -eq 'Y' -or (GetConfigValue 'InstallInventoryServerComponents') -eq 'Y'"/>
`	</Target>

	<Target Name="ApplyAllCustomizations">
		<Step Target="ApplyFNMSAppServerCustomizations"/>
	</Target>
</Configuration>
