<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Reconfigure" Version="1.0" Description="FNMS reconfiguration module">
    <Help>
The Reconfigure module implements common FNMS server reconfiguration tasks.
Targets include:
  * IISStop   Stops IIS
  * IISStart  Starts IIS

  * SetCommandTimeout                  Sets the SQL Command connection timeout
  * DisableCertificateRevocationCheck  Set registry to disable Certificate revocation check 

  * RunBatchProcessorConsoleListTasks         Runs the BatchProcessorConsole to list tasks
  * RunBatchProcessorConsolePauseProcessing   Runs the BatchProcessorConsole to pause processing
  * RunBatchProcessorConsoleResumeProcessing  Runs the BatchProcessorConsole to resume processing

  * PauseBatchProcessor   Pause the Batch Processor
  * ResumeBatchProcessor  Resume the Batch Processor

  * IsolateSystem    Isolate this FNMS system">
  * ReconnectSystem  Reconnect an isolated FNMS system
 
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="CommandTimeout"
    Prompt="Enter the SQL Command connection timeout in seconds. (default: 7200)"
    Default="7200"
  />

  <Setting
    Name="DisableCertificateRevocationCheck"
    Prompt="Set registry to disable Certificate revocation check? [Y or N] (default: N)"
    Default="N"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="IISStop" Description="Stops IIS">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="IISStop"/>
  </Target>

  <Target Name="IISStart" Description="Starts IIS">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="IISSart"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="SetCommandTimeout" Description="Sets the SQL Command connection timeout">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="SetCommandTimeout"/>
  </Target>

  <Target Name="DisableCertificateRevocationCheck" Description="Set registry to disable Certificate revocation check">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="DisableCertificateRevocationCheck"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="RunBatchProcessorConsoleListTasks" Description="Run BatchProcessorConsole to list tasks">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="RunBatchProcessorConsoleListTasks"/>
  </Target>

  <Target Name="RunBatchProcessorConsolePauseProcessing" Description="Run BatchProcessorConsole to pause processing">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="RunBatchProcessorConsolePauseProcessing"/>
  </Target>

  <Target Name="RunBatchProcessorConsoleResumeProcessing" Description="Run BatchProcessorConsole to resume processing">
    <Step Load="Reconfigure.ps1"/>
    <Step Call="RunBatchProcessorConsoleResumeProcessing"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="PauseBatchProcessor" Description="Pause the Batch Processor">
    <Step Target="RunBatchProcessorConsolePauseProcessing"/>    
    <Step Target="RunBatchProcessorConsoleListTasks"/>    
  </Target>

  <Target Name="ResumeBatchProcessor" Description="Resume the Batch Processor">
    <Step Target="RunBatchProcessorConsoleResumeProcessing"/>   
    <Step Target="RunBatchProcessorConsoleListTasks"/>    
  </Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations define targets that are also referenced in other modules.
  --> 
  <Target Name="IsolateSystem" Description="Isolate this FNMS system">
    <Step Target="IISStop"/>
    <Step Target="RunBatchProcessorConsolePauseProcessing"/>    
    <Step Target="RunBatchProcessorConsoleListTasks"/>    
  </Target>

  <Target Name="ReconnectSystem" Description="Reconnect an isolated FNMS system">
    <Step Target="RunBatchProcessorConsoleResumeProcessing"/>   
    <Step Target="RunBatchProcessorConsoleListTasks"/>    
    <Step Target="IISStart"/>
  </Target>
  
</Configuration>
