<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Schedules" Version="1.0" Description="FNMS task scheduler support module">
    <Help>
The Schedules module implements FNMS task scheduler support operations.
Targets include:
  * ListFlexNetManagerTasks     List standard FlexNet Manager tasks
  * ListCustomTasks             List custom flexadmin tasks
  * ListFlexNetManagerTasks     List all task scheduler tasks
  
  * DisableFlexNetManagerTasks  Disable standard FlexNet Manager tasks
  * DisableCustomTasks          Disable custom flexadmin tasks
  * DisableFlexNetManagerTasks  Disable all task scheduler tasks

  * EnableFlexNetManagerTasks   Enable standard FlexNet Manager tasks
  * EnableCustomTasks           Enable custom flexadmin tasks
  * EnableFlexNetManagerTasks   Enable all task scheduler tasks  
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <Setting
    Name="FlexNetManagerTasksFolder"
    Prompt="Enter the TaskScheduler folder with FNMS tasks. (default: \FlexNet Manager Platform\)"
    Default="\FlexNet Manager Platform\"
  />

  <Setting
    Name="FlexAdminTasksFolder"
    Prompt="Enter the TaskScheduler folder with FlexAdmin tasks. (default: \FlexNet Manager Platform\Local\)"
    Default="\FlexNet Manager Platform\Local\"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="ListFlexNetManagerTasks" Description="List standard FlexNet Manager tasks">
    <Step Load="Schedules.ps1"/>
    <Step Call="ListFlexNetManagerTasks"/>
  </Target>

  <Target Name="ListCustomTasks" Description="List custom flexadmin tasks">
    <Step Load="Schedules.ps1"/>
    <Step Call="ListCustomTasks"/>
  </Target>

  <Target Name="ListAllTasks" Description="List all task scheduler tasks">
    <Step Target="ListFlexNetManagerTasks"/>  	
    <Step Target="ListCustomTasks"/>  	
  </Target>

  <Target Name="DisableFlexNetManagerTasks" Description="Disable standard FlexNet Manager tasks">
    <Step Load="Schedules.ps1"/>
    <Step Call="DisableFlexNetManagerTasks"/>
  </Target>

  <Target Name="DisableCustomTasks" Description="Disable custom flexadmin tasks">
    <Step Load="Schedules.ps1"/>
    <Step Call="DisableCustomTasks"/>
  </Target>

  <Target Name="DisableAllTasks" Description="Disable all task scheduler tasks">
    <Step Target="DisableFlexNetManagerTasks"/>  	
    <Step Target="DisableCustomTasks"/>  	
  </Target>

  <Target Name="EnableFlexNetManagerTasks" Description="Enable standard FlexNet Manager tasks">
    <Step Load="Schedules.ps1"/>
    <Step Call="EnableFlexNetManagerTasks"/>
  </Target>

  <Target Name="EnableCustomTasks" Description="Enable custom flexadmin tasks">
    <Step Load="Schedules.ps1"/>
    <Step Call="EnableCustomTasks"/>
  </Target>

  <Target Name="EnableAllTasks" Description="Enable all task scheduler tasks">
    <Step Target="EnableFlexNetManagerTasks"/>  	
    <Step Target="EnableCustomTasks"/>  	
  </Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations define targets that are also referenced in other modules.
  --> 
  <Target Name="IsolateSystem" Description="Isolate this FNMS system">
    <Step Target="DisableFlexNetManagerTasks"/>  	
    <Step Target="DisableCustomTasks"/>  	
  </Target>

  <Target Name="ReconnectSystem" Description="Reconnect an isolated FNMS system">
    <Step Target="EnableFlexNetManagerTasks"/>  	
    <Step Target="EnableCustomTasks"/>  	
  </Target>
  
</Configuration>
