<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for creating and configuring FNMS databases.

	Copyright (C) 2015-2018 Flexera
-->
<Configuration>
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->



	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigureFNMSDatabases" Description="Create and configure FlexNet Manager Suite databases">

		<!-- Ensure CLR is enabled -->
		<Step SQLScript="EnableCLR.sql" DBServer="$(FNMSDBServer)" DBName="master"/>

		<!-- Creating and configuring the databases -->
		<Step Load="Database.ps1"/>
		<Step Call="CreateInventoryDB"/> <!-- Inventory DB setup must be done before Compliance setup if they are in the same DB (see FNMS-24482) -->
		<Step Call="CreateComplianceDB"/>
		<Step Call="CreateSnapshotDB"/>
		<Step Call="CreateDataWarehouseDB"/>
		
		<!-- Configure database compatibility levels -->
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSInvDBServer)" DBName="$(FNMSInvDBName)"/>
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSSnapshotDBName)"/>
		<Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSDataWarehouseDBName)"/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ConfigureAllDatabases">
		<Step Target="ConfigureFNMSDatabases" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
