<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="HealthCheck" Version="1.0" Description="Basic FNMS system Health Checks module">
    <Help>
The HealthCheck module runs various scripts to perform some basic FNMS health checks.
Targets include:
  * PerformHealthChecks      Perform regular FNMS system Health Checks 
  * RunGetActiveOperators    List Operators accounts that have accessed FNMS in the last 30 days
  * RunGetIISActiveClients   List IP adresses that have accessed FNMS in the last 30 days  
    
  * ConfigureHealthChecksScheduledTask  Configure a scheduled task to perform regular FNMS system Health Checks   
    </Help>
  </Identity> 

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <!--
  <Setting
    Name="DaysToKeepInactiveComputerInventory"
    Prompt="Enter number of days to keep computer inventory before deletion due to inactivity (default: 90)"
    Default="90"
  />
  -->

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  --> 
  <Target Name="PerformHealthChecks" Description="Perform regular FNMS system Health Checks">
    <Step SQLQueryScript="QueryBlockingTasks.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" OutFile="QueryBlockingTasks.out"/>
    <Step SQLQueryScript="QueryDatabaseSizes.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" OutFile="QueryDatabaseSizes.out"/>
    <Step SQLQueryScript="QueryDatabaseFragmentation.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" OutFile="QueryDatabaseFragmentation.out"/>    
    <Step SQLQueryScript="QueryInstallerEvidenceRecognitionRate.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" OutFile="QueryInstallerEvidenceRecognitionRate.out"/>
    <Step SQLQueryScript="QueryInventoryAgeDestribution.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" OutFile="QueryInventoryAgeDestribution.out"/>    
    <Step SQLQueryScript="QueryInventoryCoverageForInstalledAssets.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" OutFile="QueryInventoryCoverageForInstalledAssets.out"/>    
  </Target>

  <Target Name="RunGetActiveOperators" Description="List Operators accounts that have accessed FNMS in the last 30 days"> 
    <Step Load="HealthCheck.ps1"/>
    <Step Call="RunGetIISActiveOperators"/>
  </Target>

  <Target Name="RunGetIISActiveClients" Description="List IP adresses that have accessed FNMS in the last 30 days"> 
    <Step Load="HealthCheck.ps1"/>
    <Step Call="RunGetIISActiveClients"/>
  </Target>

  <Target Name="ConfigureHealthChecksScheduledTask" Description="Configure a scheduled task to perform regular FNMS system Health Checks">
    <Step ScheduleFlexAdminTarget="PerformHealthChecks"
      TaskName="FlexNet Manager Platform\Local\Perform basic FNMS system Health Checks"
      ConfigSettings="DaysToKeepInactiveComputerInventory"
      ScheduleOptions="/sc DAILY /st 00:30:00"
      RunAs="$(FNMSServiceAccount)"
      CredentialManagerTarget="$(FNMSBatchServerFQDN)"        
    />
  </Target>

  <!--
    GLOBAL TARGETS
    The following declarations register steps with global targets.
    Be aware that other modules may also add steps to these same targets.
  -->

</Configuration>
