<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2014-2017 Flexera Software -->
<Configuration>
	<Setting
		Name="InstallBeacon"
		Prompt="Should the FlexNet beacon software be installed on this server? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>


	<Setting
		Name="BeaconInstallDir"
		Prompt="Enter path of the installation directory for Flexera Inventory Beacon (default: blank = use default installation location)"
		Optional="True"
	/>


	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="InstallBeacon" Description="Install FlexNet Inventory Beacon components">
		<Step Load="BeaconInstall.ps1"/>
		<Step Call="ConfigureIISFeaturesForBeacon"/>
		<Step Call="InstallBeacon"/>
		<Step Call="ConfigureBeaconRegistrySettings"/>
	</Target>

	<Target Name="UninstallBeacon" Description="Uninstall FlexNet Inventory Beacon components">
		<Step Load="BeaconInstall.ps1"/>
		<Step Call="UninstallBeacon"/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->

	<Target Name="InstallAll">
		<Step Target="InstallBeacon" If="(GetConfigValue 'InstallBeacon') -eq 'Y'"/>
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallBeacon"/>
	</Target>
</Configuration>
