<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Beacons" Version="1.0" Description="Business-As-Usual Beacons module">
    <Help>
The Beacons module implements common Beacon automation tasks.
Targets include:
  * RunInventoryAgent    Runs the Inventory Agent in full UI mode
  * RunScheduleAgent     Runs the Schedule Agent in full UI mode  

    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
  <Setting
    Name="BeaconSetting"
    Prompt="Enter a some value. (default: default)"
    Default="default"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="RunInventoryAgent" Description="Runs the Inventory Agent">
    <Step Load="beacons.ps1"/>
    <Step Call="RunInventoryAgent"/>
  </Target>

  <Target Name="RunScheduleAgent" Description="Runs the Schedule Agent">
    <Step Load="beacons.ps1"/>
    <Step Call="RunScheduleAgent"/>
  </Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations define targets that are also referenced in other modules.
  --> 
	<Target Name="ApplyAllCustomizations">
	</Target>

	<Target Name="InstallAll">
	</Target>

	<Target Name="ConfigureScheduledTasks">
	</Target>

</Configuration>
