<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2015-2018 Flexera Software -->
<Configuration>
	<ConfigSettings StoreInRegistry="true"/>
	<!-- OR: <ConfigSettings File="fnms.settings"/>-->

	<Load Script="FlexAdmin\FlexAdminFunctions.ps1"/>
	<Load Script="FlexAdmin\FNMSFunctions.ps1"/>

	<Module Path="Database"/> <!-- Targets from the "Database" and "Install" modules should be run before others -->
	<Module Path="Install"/>
	<Module Path="*"/>

	<Setting
		Name="LogDir"
		Prompt="Enter full path to the directory to contain flexadmin log files (default: C:\LogFiles)"
		Default="C:\LogFiles"
		Validate="ValidateDirExists"
	/>


	<!-- =============== FlexNet Manager Suite common configuration settings =============== -->

	<Setting
		Name="DoMultiTenantInstall"
		Prompt="Should this system be installed using a multi-tenant configuration? Enter 'Y' or 'N' (default: blank = perform a single-tenant install)"
		Validate="ValidateYOrN"
		Default="N"
	/>

	<Setting
		Name="InstallWebAppServerComponents"
		Prompt="Should the web application server components be installed on this server? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>

	<Setting
		Name="InstallBatchServerComponents"
		Prompt="Should the batch server components be installed on this server? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>

	<Setting
		Name="InstallInventoryServerComponents"
		Prompt="Should the inventory server components be installed on this server? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>

	<Setting
		Name="FNMSDownloadDir"
		Prompt="Enter path of the directory that the downloaded FlexNet Manager Suite package has been extracted to (the file 'Installers\FlexNet Manager Suite\FlexNet Manager Suite Server.Msi' should exist under this directory)"
		Validate="ValidateFileExistsInDir 'Installers\FlexNet Manager Suite\FlexNet Manager Suite Server.Msi'"
	/>

	<Setting
		Name="FNMSInstallDir"
		Prompt="Enter path of the installation directory for FlexNet Manager Suite (default: blank = use default installation location)"
		Optional="True"
	/>

	<Setting
		Name="FNMSStagingDir"
		Prompt="Enter path of the staging directory for data uploaded from inventory beacons (default: blank = use default installation location of (ProgramData)\Flexera Software\Beacon\)"
		Optional="True"
	/>

	<Setting
		Name="FNMSDataImportDir"
		Prompt="Enter path of the data import directory for FlexNet Manager Suite (default: blank = use default installation location of (ProgramData)\Flexera Software\FlexNet Manager Platform\DataImport\)"
		Optional="True"
	/>

	<Setting
		Name="FNMSWebServerFQDN"
		Prompt="Enter FQDN used to connect to the FlexNet Manager Suite web application server"
	/>

	<Setting
		Name="FNMSBatchServerFQDN"
		Prompt="Enter hostname of the FlexNet Manager Suite batch server"
	/>

	<Setting
		Name="FNMSDBServer"
		Prompt="Enter Microsoft SQL Server instance name (and port number if necessary) for the FlexNet Manager Suite databases (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
	/>

	<Setting
		Name="FNMSComplianceDBName"
		Prompt="Enter name for the FlexNet Manager Suite compliance database (default: FNMSCompliance)"
		Default="FNMSCompliance"
	/>

	<Setting
		Name="FNMSSnapshotDBName"
		Prompt="Enter name for the FlexNet Manager Suite snapshot database (default: FNMSSnapshot)"
		Default="FNMSSnapshot"
	/>

	<Setting
		Name="FNMSServiceAccount"
		Prompt="Enter qualified name (&lt;DOMAIN>\&lt;logon>) of the FlexNet Manager Suite service account"
	/>

	<Setting
		Name="FNMSUserWebAccessProtocol"
		Prompt="Enter protocol (http or https) end users will use when accessing the FlexNet Manager Suite web interface (default: http)"
		Default="http"
		Validate="ValidateWebAccessProtocol"
	/>

	<Setting
		Name="FNMSInternalWebAccessProtocol"
		Prompt="Enter protocol (http or https) for internal HTTP-based communications to FlexNet Manager Suite application server components (default: http)"
		Default="http"
		Validate="ValidateWebAccessProtocol"
	/>


	<!-- =============== Flexera Analytics server specific configuration settings =============== -->

	<Setting
		Name="InstallAnalytics"
		Prompt="Should Flexera Analytics be installed on this server? Enter 'Y' or 'N'"
		Validate="ValidateYOrN"
	/>

	<Setting
		Name="AnalyticsServerFQDN"
		Prompt="Enter FQDN used to connect to the Flexera Analytics server"
	/>

	<Setting
		Name="FNMSDataWarehouseDBName"
		Prompt="Enter name for the FlexNet Manager Suite data warehouse database (default: FNMSDataWarehouse)"
		Default="FNMSDataWarehouse"
	/>

	<Setting
		Name="ContentStoreDBName"
		Prompt="Enter name for the Flexera Analytics content store database (default: FNMSContentStore)"
		Default="FNMSContentStore"
	/>


	<!-- =============== Inventory server specific configuration settings =============== -->

	<Setting
		Name="FNMSInvServerFQDN"
		Prompt="Enter FQDN used to connect to the FlexNet Manager Suite inventory server"
	/>

	<Setting
		Name="FNMSInvDBServer"
		Prompt="Enter Microsoft SQL Server instance name (and port number if necessary) for the FlexNet Manager Suite inventory database (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
	/>

	<Setting
		Name="FNMSInvDBName"
		Prompt="Enter name for the FlexNet Manager Suite inventory database (default: FNMSInventory)"
		Default="FNMSInventory"
	/>

	<Setting
		Name="FNMSInvSvrPkgRepositoryDir"
		Prompt="Enter path of the inventory server package repository directory (default: blank = use default installation location of (ProgramData)\Flexera Software\Warehouse\)"
		Optional="True"
	/>

	<Setting
		Name="FNMSInvSvrIncomingDir"
		Prompt="Enter path of the inventory server incoming logs and inventories directory (default: blank = use default installation location of (ProgramData)\Flexera Software\Incoming\)"
		Optional="True"
	/>

	
	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->
	
	<!-- 
		The following targets are placeholders for global targets.   They are not strictly required.
		This provides a convenient single place to set each target's description.
		Sub module may add their targets as dependencies of these targets where applicable. 
	-->
	<Target Name="InstallAll" Description="Execute all steps to install and configure databases and software components for an operational FlexNet Manager Suite application server environment"/>
	<Target Name="UninstallAll" Description="Uninstall any FlexNet Manager Suite server software components found currently installed"/>
	<Target Name="ApplyAllCustomizations" Description="Apply all customizations"/>
	<Target Name="ConfigureScheduledTasks" Description="Configure custom scheduled tasks that various modules define"/>
</Configuration>
