<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2014 Flexera Software -->
<Configuration>
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->
	<Setting
		Name="FNMSBusinessAdaptersDir"
		Prompt="Enter the directory name to which the adapters will be installed (default: C:\ProgramData\Flexera Software\Adapters)"
		Default="C:\ProgramData\Flexera Software\Adapters"
	/>

	<!--
		LOCAL TARGETS
		The following declarations register steps with local targets.
	-->

	<!-- Targets for installation & configuration activities -->
	<Target Name="InstallAdapters" Description="Install adapters">
		<Step Load="adapterinstall.ps1"/>
		<Step Call="InstallAdapters"/>		
		<Step Call="ConfigureExcelDriversForSpreadsheetImports"/>		
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="ApplyFNMSAppServerCustomizations">
		<Step Target="InstallAdapters"/>
	</Target>
	
</Configuration>
