<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Kernel" Version="1.0" Description="A collection of core functions that support other modules">
    <Help>
The Kernel module implements key functions that are expected to be used across other modules.
Targets include:
  * RegisterServiceAccountCredentials      Register Service Account Credentials
  * CheckServiceAccountCredentials         Check Service Account Credentials
	
	* LoadCertificateFromPfxFile             Load a Certificate from a PFX file
	* CreateSelfSignedCertificate            Create a new Self-Signed Certificate

  * CheckIISFeatures                       Check FNMS pre-requistite IIS features 
	* ConfigureIISFeatures                   Configure FNMS pre-requistite features in IIS

	* CheckNetworkConnections                Checks FNMS network connectivity
	* CheckDatabaseConnections               Checks FNMS database connectivity
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="FlexeraServiceAccount"
		Prompt="Enter qualified name (&lt;DOMAIN>\&lt;logon>) of the Flexera service account"
	/>

	<Setting
		Name="FlexeraServerFQDN"
		Prompt="Enter the Flexera server FQND"
	/>
	
  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="RegisterServiceAccountCredentials" Description="Register Service Account Credentials">
    <Step Load="Credentials.ps1"/>
    <Step Call="RegisterServiceAccountCredentials"/>
  </Target>

  <Target Name="CheckServiceAccountCredentials" Description="Check Service Account Credentials">
    <Step Load="Credentials.ps1"/>
    <Step Call="CheckServiceAccountCredentials"/>
  </Target>
	
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="CertificateFriendlyName"
		Prompt="Enter a friendly name for the certificate (default: Beacon)"
		Default="Beacon"
	/>

	<Setting
		Name="ServerCertificateFileName"
		Prompt="Enter the name of the Beacon certificate file (default: beacon.pfx)"
		Default="beacon.pfx"
	/>

	<Setting
		Name="CertificateFileName"
		Prompt="Enter the name of the exported certificate file (default: cert.pfx)"
		Default="cert.pfx"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="LoadCertificateFromPfxFile" Description="Load a Certificate from a PFX file">
		<Step Load="Certificates.ps1"/>
		<Step Call="LoadCertificateFromPfxFile"/>
	</Target>

	<Target Name="CreateSelfSignedCertificate" Description="Create a new Self-Signed Certificate">
		<Step Load="Certificates.ps1"/>
		<Step Call="CreateSelfSignedCertificate"/>
	</Target>
	
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="FNMSBeaconServerFQDN"
		Prompt="Enter hostname of the Beacon server"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckIISFeatures" Description="Check FNMS pre-requistite IIS features">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>
	</Target>

	<Target Name="ConfigureIISFeatures" Description="Configure FNMS pre-requistite features in IIS">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>		
		<Step Call="ConfigureIISFeaturesForBeacon"/>
	</Target>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckNetworkConnections" Description="Checks FNMS network connectivity">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckNetworkConnections"/>
	</Target>

	<Target Name="CheckDatabaseConnections" Description="Checks FNMS database connectivity">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckDatabaseConnections"/>
	</Target>

</Configuration>
