<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Analytics" Version="1.0" Description="Analytics database configuration module">
    <Help>
The Analytics (database) module configures Analytics databases on FNMS servers.
Targets include:
	* ConfigureCognosDatabase  Create and configure the Flexera Analytics content store database

    </Help>
  </Identity> 
	
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->
	<Setting
		Name="ContentStoreDBRecoveryModel"
		Prompt="Enter SQL Server recovery model for the Flexera Analytics content store database (default: Full, alternative value: Simple)"
		Default="Full"
	/>

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->
	<Target Name="ConfigureCognosDatabase" Description="Create and configure the Flexera Analytics content store database">
		<!-- <Step Target="ConfigureFNMSAdminsGroup"/> -->
		<Step SQLScript="CreateContentStoreDatabase.sql" 
			DBServer="$(FNMSDBServer)" 
			DBName="master" 
			ConfigSettings="ContentStoreDBName" 
		/>

		<!-- <Step SQLScript="..\FNMS\ConfigureDatabaseSecurity.sql" DBServer="$(FNMSDBServer)" DBName="$(ContentStoreDBName)" ConfigSettings="FNMSAdminsGroup" /> -->
		<!-- <Step SQLScript="..\FNMS\ConfigureRecoveryModel.sql" DBServer="$(FNMSDBServer)" DBName="$(ContentStoreDBName)" ConfigSettings="RecoveryModel=$(ContentStoreDBRecoveryModel)"/> -->
		<Step SQLScript="..\FNMS\CheckCompatibilityLevel.sql" DBServer="$(FNMSDBServer)" DBName="$(ContentStoreDBName)"/>
	</Target>


	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Other modules may also add steps to these same targets.  
	-->
	
	<Target Name="ConfigureAllDatabases">
		<Step Target="ConfigureCognosDatabase" If="(GetConfigValue 'DoMultiTenantInstall') -eq 'N' -and (GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>
</Configuration>
