<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2020 Crayon Australia -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Content" Version="1.0" Description="Business-As-Usual maintenance module">
    <Help>
The Content module implements common FNMS Content Library maintenance tasks
Targets include:
  * ConfigureContentSource       Configures FNMS to load Content Files from either the Flexera web site or a local folder     
  
  * QueueContentLibraryImport    Queue the content libraries import batch process task
  * DownloadContentLibraries     Download the content libraries
  * ClearContentLibraryCache     Clear the content library cache
  * ImportContentLibraries       Import the content libraries

  * ConfigureQueueContentLibraryImportScheduledTask  Configure a scheduled task that queues the content library import task
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="AutomaticallyDownloadContentLibraries"
    Prompt="Should the FNMS content libraries be automatically downloaded from Flexera prior to importing them? Enter 'Y' or 'N' (default: 'Y')"
    Default="Y"
  />

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="QueueContentLibraryImport" Description="Queue the content libraries import batch process task">
    <Step Load="bau.ps1"/>
    <Step Call="QueueContentLibraryImport"/>
  </Target>

  <Target Name="DownloadContentLibraries" Description="Download the content libraries">
    <Step Load="bau.ps1"/>
    <Step Call="DownloadContentLibraries"/>
  </Target>

  <Target Name="ClearContentLibraryCache" Description="Clear the content library cache">
    <Step Load="bau.ps1"/>
    <Step Call="ClearContentLibraryCache"/>
  </Target>

  <Target Name="ImportContentLibraries" Description="Import the content libraries">
    <Step Load="bau.ps1"/>
    <Step Call="ImportContentLibraries"/>
  </Target>

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="ConfigureQueueContentLibraryImportScheduledTask" Description="Configure a scheduled task that queues the content library import task">
		<Step ScheduleFlexAdminTarget="QueueContentLibraryImport"
			TaskName="FlexNet Manager Platform\Local\Queue Content Library Import"
			ScheduleOptions="/sc DAILY /st 01:00:00"
			RunAs="$(FNMSServiceAccount)"
      CredentialManagerTarget="$(FNMSBatchServerFQDN)"			
		/>
	</Target>

  <!-- 
    GLOBAL TARGETS
    The following declarations define targets that are also referenced in other modules.
  --> 
	<Target Name="ApplyAllCustomizations">
		<Step Target="ConfigureQueueContentLibraryImportScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="InstallAll">
		<Step Target="ConfigureQueueContentLibraryImportScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ConfigureScheduledTasks">
		<Step Target="ConfigureQueueContentLibraryImportScheduledTask" If="(GetConfigValue 'InstallBatchServerComponents') -eq 'Y'"/>
	</Target>

</Configuration>
