<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	This module contains targets for importing IIS logs into the FNMS Compliance database.

	Copyright (C) 2017 Flexera Software
-->
<Configuration>
	<!-- 
		LOCAL SETTINGS
		The following declarations define settings that are local to this module.
	-->

	<Setting
		Name="MonthsToKeepIISLogs"
		Prompt="Enter number of months to keep IIS logs before deletion (default: 12)"
		Default="12"
	/>


	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="ConfigureIISLogImporterDatabase"
		Description="Apply database configuration to be able to import IIS logs into the FlexNet Manager Suite Compliance database"
	>
		<Step SQLScript="ConfigureIISLogImporter.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)"/>
	</Target>

	<Target Name="ConfigureIISLogImporter"
		Description="Apply configuration to be able to import IIS logs into the FlexNet Manager Suite Compliance database"
	>
		<Step Load="ImportIISLogs.ps1"/>
		<Step Call="ConfigureIISLogging"/>
	</Target>

	<Target Name="ImportIISLogs"
		Description="Import IIS logs into the FlexNet Manager Suite Compliance database, and delete old logs"
	>
		<Step Load="ImportIISLogs.ps1"/>
		<Step Call="ImportIISLogs"/>
		<Step SQLScript="DeleteOldIISLogs.sql" DBServer="$(FNMSDBServer)" DBName="$(FNMSComplianceDBName)" ConfigSettings="MonthsToKeepIISLogs" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ConfigureIISLogImportScheduledTask"
		Description="Configure a scheduled task to perform regular cleanup activities"
	>
		<Step ScheduleFlexAdminTarget="ImportIISLogs"
			TaskName="FlexNet Manager Platform\Import IIS logs"
			ConfigSettings="FNMSDBServer,FNMSComplianceDBName,MonthsToKeepIISLogs"
			ScheduleOptions="/sc DAILY /st 04:10:00"
			RunAs="$(FNMSServiceAccount)"
		/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Be aware that other modules may also add steps to these same targets.
	-->

	<Target Name="ApplyFNMSAppServerCustomizations">
		<Step Target="ConfigureIISLogImporter"/>
	</Target>

	<Target Name="InstallAnalytics">
		<Step Target="ConfigureIISLogImporter"/>
	</Target>

	<Target Name="ApplyFNMSDatabaseCustomizations">
		<Step Target="ConfigureIISLogImporterDatabase"/>
	</Target>

	<Target Name="ConfigureScheduledTasks">
		<Step Target="ConfigureIISLogImportScheduledTask"/>
	</Target>
</Configuration>
